* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Alice", serif;
  color: #573a37;
}

body {
  background-image: url(assets/bg.jpg);
  /* Com cover, a imagem vai cobrir apenas a região visível pra mim da pagina, se eu expandir ela expande junto*/
  background-size: cover;
}

#page {
  box-sizing: border-box;
  width: 800px;
  padding: 24px;
  background-color: #f0e8c2;
  border-radius: 24px;
  margin: 48px auto;
}

img {
  border-radius: 16px;
}

main {
  padding: 24px;
}

section + section {
  margin-top: 24px;
}

#about p + p {
  margin-top: 12px;
}

h1 {
  line-height: 140%;
  font-size: 40px;
  color: #291b1a;
  margin-bottom: 4px;
}

h2 {
  line-height: 150%;
  font-size: 24px;
  color: #291b1a;
  margin-bottom: 4px;
}
p {
  line-height: 150%;
  font-size: 16px;
}

ul {
  padding-left: 24px;
}
